header.masthead {
  text-align: center;
  color: lightcyan;
  background: url('../assets/python3.png') no-repeat scroll center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Sverige', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Sverige', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn {
  background-color: #00ffff !important;
  color: black;
  border-color: black;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }

  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Handlee', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
  }

  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

.portfolio-image {
  position: relative;
  color: white;
  border: 7px solid rgba(0, 0, 0, 0.938);
  border-radius: 100%;
  background-color: #00ffff;

}
