

/* body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
} */

@font-face {
  font-family: 'Courgette';
  src: url('~@/fonts/Courgette-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FogtwoNo5';
  src: url('~@/fonts/FogtwoNo5.ttf') format('truetype');
}

@font-face {
  font-family: 'Sverige';
  src: url('~@/fonts/SverigeScriptClean_Demo.ttf') format('truetype');
}

@font-face {
  font-family: 'Handlee';
  src: url('~@/fonts/Handlee-Regular.ttf') format('truetype');
}

p {
  line-height: 1.75;
  font-family: 'FogtwoNo5';
}

a {
  color: #fe6536;
}

a:hover {
  color: #fec503;
}

.text-primary {
  color: #fed136 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Handlee', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: '', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

.btn {
  font-family: 'FogtwoNo5', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bolder;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: cyan;
  color: black;
  border-color: black;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #a710fe0e !important;
  border-color: #2810fe !important;
  color: lightcyan;
}

.btn-primary:active,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(55, 254, 237, 0.5) !important;
}

::-moz-selection {
  background: cyan;
  text-shadow: none;
}

::selection {
  background: cyan;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

